.backToIssuesLink {
  color: $green;
  font-size: 18px;
  margin-left: 13vw;
  margin-top: 3vh;
  margin-bottom: 3vh;
  display: inline-block;
}

.exclamationwhite {
  width: 20px;
  position: relative;
  top: -2px;
  right: -4px;
}

%entryInterface {
  font-family: Helvetica;
  color: $gray;
  border-radius: 10px;
  box-shadow: 1px 1px $lightGray;
  margin: auto;
  background-color: $white;
  padding: 10px;
}

.entryContainer {
  margin: auto;
  width: 60vw;
}

.avatar {
  float: left;
  margin-top: -1vh;
  margin-left: -7vw;

  img {
    width: 60px;
    border-radius: 50%;
  }
}

.entry {
  @extend %entryInterface;
  height: auto;
  width: 52vw;
  float: right;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.entryContent {
  margin: auto;
  line-height: 2em;
  text-indent: 0.8em;
  padding-top: 20px;
  padding-bottom: 40px;
  word-wrap: break-word;
  width: 45vw;
}

.entryHeadLine {
  margin-left: -10px;
  margin-right: -10px;
  text-indent: 3em;
  padding-top: 17px;
  padding-bottom: 27px;
  font-size: 14px;
  box-shadow: 0px 1px $lightGray;
}

.issueState {
  position: relative;
  bottom: 6px;
  right: -3px;
}

.issueTitleAndInformation {
  @extend %entryInterface;
  padding-bottom: 35px;
  margin-bottom: 20px;
  .title {
    font-size: 24px;
    margin-left: 3vw;
    margin-top: 20px;
  }
  .entryNumber {
    color: $lightGray;
  }
}

.issueStatus {
  position: relative;
  top: 20px;
  left: 40px;
  border-radius: 5px;
  padding-top: 8px;
  color: $white;
  background-color: $green;
  width: 90px;
  height: 25px;
  font-size: 14px;
  .exc {
    text-indent: 10px;
    border-radius: 100%;
    padding: 6px;
    margin-left: 5px;
    background-color: $white;
    color: $green;
    font-weight: 600;
  }
}

.entryOwner {
  color: $green;
  font-weight: 600;
}

.entryInformation {
  margin-left: 10vw;
  color: gray;
  font-size: 14px;
  margin-top: -1vh;
}

@media only screen and (max-width: $mobile) {
  .issueStatus{
    top:6px;
    left:8px;
  }
  .entryHeadLine{
    text-indent: 1em;
  }
  .entryContainer {
    width: 90vw;
  }
  .entryContent{
    width:65vw;
  }
  .avatar {
    margin-left: -21vw;
  }
  .entryInformation{
    margin-top: 2vh;
    margin-left: 2vw;
  }
  .issueTitleAndInformation {
    .title {
      font-size: 16px;
    }
  }
  .entry {
    width: 70vw;
  }
}