.background {
  display: grid;
  justify-items: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("/img/trakai.jpg") no-repeat fixed center;
  background-size: cover;
}

.loginTitle {
  font-family: 'Days One', sans-serif;
  text-align: center;
  font-size: 62px;
  color: $white;
  span {
    color: $green;
  }
}

.loginButton {
  margin-top: 5vh;
  background-color: $green;
  border-radius: 5px;
  font-size: 13px;
  padding: 14px 80px 14px 80px;
  color: $white;
  letter-spacing: 1px;
  font-weight: 700;
  border: none;
  outline: none;
  cursor: pointer;
}

@media only screen and (max-width: $mobile) {
  .background {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("/img/trakaimobile.jpg") no-repeat top center;
    height: 100vh;
    background-size: cover;
  }
}