body {
  margin: 0;
  background-color: $backgroundColor;
}

a{
  text-decoration: none;
}

.pointer{
  cursor: pointer;
}

.green {
  background-color: $green;
}

.black {
  background-color: $black;
}