nav {
  height: 3vh;
  padding: 3vw;
  border-bottom: 1px solid $green;
  background-color: $white;
}

.logoutLink {
  float: right;
  text-decoration: none;
  color: $gray;
}

.logoutButton {
  margin-bottom: -5px;
  padding-left: 10px;
  width: 20px;
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}

.logoBlack {
  top: 4vh;
  position: absolute;
  font-family: 'Days One', sans-serif;
  font-size: 35px;
  color: #000000;
  span {
    color: $green;
  }
}

@media only screen and (max-width: $mobile) {
  nav {
    height: 5vh;
  }
  .logoBlack {
    top: 1vh;
    font-size: 23px;
  }
}
