article {
  width: 100vw;
  height: 75vh;
  font-family: Helvetica;
  font-size: 14px;
  overflow-y: hidden;
}

.entryLink {
  outline: none;
  margin-left: 30px;
  margin-bottom: 4px;
  background-color: transparent;
  text-align: left;
  border: none;
  box-shadow: none;
  text-decoration: none;
  color: $gray;
  letter-spacing: 0.8px;
  width: 80%;
  font-size: 15px;
}

.closedFilterButton {
  float: right;
}

.openFilterButton {
  float: left;
}

.issueFilters {
  margin-left: 25%;
  position: relative;
  display: inline-block;

  .exclamation {
    position: absolute;
    top: -4px;
    margin-right: 35%;
    color: $white;
    padding: 3px;
    width: 20px;
    border-radius: 100%;
    line-height: 10px;
  }

  .check {
    position: absolute;
    top: 1px;
    margin-left: 5px;
    opacity: 0.5;
    width: 16px;
  }

  .textOfIssues {
    margin-top: 10px;
    margin-left: 25px;
  }
}

.issues {
  margin: 25px;
  overflow-y: scroll;
  overflow-x: hidden;
  float: left;
  width: 43vw;
  height: 60vh;
}

.listIssues {
  padding-top: 8px;
  padding-left: 10px;
  padding-bottom: 30px;
  box-shadow: 1px 1px $lightGray;
  border-radius: 7px;
  background-color: $white;
  margin: 10px;
  list-style: none;
}

.issueInformation {
  width: 100%;
  margin-top: 0em;
  left: 25px;
  color: $lightGray;
}

.issueTitle {
  margin-left: 18px;
  margin-bottom: 7px;
}

.issueUser {
  color: $green;
  font-weight: 600;
}

.bridge {
  float: right;
  height: 100%;
  width: 50%;
  text-align: center;
  vertical-align: middle;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url("/img/bridge.jpg") no-repeat center;
  color: $white;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 25px;

  h1 {
    margin-top: 25vh;
    font-size: 35px;
  }

  .inlineAppName {
    display: inline-block;
    font-size: 25px;
    font-family: 'Days One', sans-serif;
    span {
      color: $green;
    }
  }
}

.issues::-webkit-scrollbar {
  width: 5px;
  border-radius: 2px;
}

.issues::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.issues::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.issueComments {
  float: right;
  margin-top: 24px;
  margin-right: 23px;
}

.issueItemInfo {
  margin-left: 53px;
  font-size: 11px;
}

.issueIcon {
  position: relative;
  width: 20px;
  top: 22px;
  opacity: 0.7;
}

@media only screen and (max-width: $mobile) {
  .entryLink {
    font-size: 13px;
  }

  .issueIcon {
    top: 25px;
  }

  .listIssues {
    padding-bottom: 15px;
  }

  .issueComments {
    margin-right: 15px;
    margin-top: 15px;
  }

  .issues {
    width: 90vw;
  }

  .issueFilters {
    margin-left: 7%;
  }

  .issueTitle {
    width: 82%;
    margin-bottom: 5px;
    margin-top: -11px;
  }

  .bridge {
    display: none;
  }

  .issueComments {
    top: -3px;
    right: 10px;
  }

  .issueInformation {
    left: 7px;
  }

}