.paginations {
  position: fixed;
  left: 10vw;
  bottom: 10vh;
  align-content: center;
}

.pagination {
  text-align: center;
  list-style: none;
  li {
    display: inline;
  }
}

%paginatorNumber {
  color: $gray;
  text-decoration: none;
  padding: 13px;
  margin: 5px;
  border-radius: 100%;
  box-shadow: 1px 1px $lightGray;;
}

.paginatorChangeNumber {
  @extend %paginatorNumber;
  background-color: $white;
}

.paginatorChangeNumberActive {
  @extend %paginatorNumber;
  background-color: $green;
}

.paginatorChangeLink {
  text-decoration: none;
  color: $gray;
}

@media only screen and (max-width: $mobile) {
  .paginations {
    left: 5vw;
  }
}